{
  "semi": true,
  "trailingComma": "none",
  "tabWidth": 4,
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "proseWrap": "never",
  "printWidth": 100,
  "astroAllowShorthand": true,
  "overrides": [
    {
      "files": [
        "*.less",
        "*.scss",
        "*.sass",
        "*.css"
      ],
      "options": {
        "tabWidth": 2,
        "extends": [
          "stylelint-config-standard",
          "stylelint-config-prettier"
        ]
      }
    },
    {
      "files": [
        "*.json"
      ],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
